@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Mobile Portrait (Default) */

body {
    background-color: #5271FF;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0px;
    overflow-x:hidden;
    width: 100%;
}
* {
    overflow-x:hidden;
}
nav {
    padding: 10px;
}
.leftNavLink {
    padding-right: 5px;
    text-decoration: none;
    font-size: 1em;
    color: white;
}
.rightNavLink > img {
    padding-right: 0px;
    margin: 0px;
    width: 25px;
}
nav {
    display: flex;
    justify-content: space-between;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    font-size: 1.2em;
    text-align: center;
    font-weight: 400;
}
.row {
    display: flex;
    flex-direction: row;
}
.row > img{
    width: 50%;
}
.textBlock {
    width: 100%;
    height: 100vw;
    padding-left: 20px;
    overflow-y: scroll;
}
.mainRow > .textBlock {
    width: 92%;
}
.imageBlock {
    background-color: #7e96ff;
    width: 100%;
    height: 100vw;
}
.images {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
h2 {
    font-weight: 400;
    font-size: 34px;
}
span {
    font-size: 24px;
}
.logo:active {
    animation: spin 1s 1;
}
.logo {
    margin-bottom: 20px;
    margin: 0 auto;
}
.span {
    font-size: 36px;
}
.centerText {
    text-align: center;
}
.contactMe {
    padding-left: 0px;
    overflow-y: hidden;
    width: 100%;
    margin: 0 auto;
}
.contactMe > p > a {
    text-decoration: none;
    font-size: 1em;
    color: #CCB1E8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contactMe > p, .contactMe > h2  {
    padding-left: 0px;
}
.findMe {
    padding-left: 0px;
    overflow-y: hidden;
    height: 100%;
}
.findMe > h2 {
    font-size: 46px;
}
.line {
    width: 80%;
    height: 1px;
    background-color: white;

    margin: 50px auto;
}
@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.googleMapsImage, .googleMaps {
    width: 100%;
    border:0px;
    margin:0px;
    padding:0px;
}
.googleMapsImage {
    height: 100%;
    width: 100%;
}
.googleMaps {
    overflow-y: hidden;
    height: 350px;
}
.mainRow > .textBlock > .line {
    margin-bottom: 0px;
}
.contactMe {
     height: 100%;
}
/* Mobile Landscape */
@media (min-width: 640px) {
    .rightNavLink > img {
        width: 35px;
    }

    .leftNavLink {
        padding-right: 10px;
        font-size: 1.3em;
    }
    .logo {
        width: 60%;
        padding-bottom: 30px;
    }
    h1 {
        font-size: 1.6em;
        padding-bottom: 20px;
    }
    .mainRow {
        display: flex;
        flex-direction: row;
    }
    .mainRow:nth-child(2n) {
        display: flex;
        flex-direction: row-reverse;
    }
    .row {
        flex-direction: column;
    }
    .row > img {
        width: 90%;
        margin: 0 auto;
    }
    .line {
        display: none;
    }
    .mainLine {
        width: 80%;
        height: 1px;
        background-color: white;
    
        margin: 30px auto;
    }
    .imageBlock, .textBlock {
        height: 50vw;
        margin: 0;
        padding: 0;
    }
    .imageBlock > * {
        padding-left: 20px;
    }
    .textBlock > * {
        padding-left: 20px;
    }
    .googleMapsImage {
        width: 100%;
        border:0;
        margin:0;
        padding:0;
    }
    .mainRow > .textBlock {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .rightNavLink > img {
        width: 40px;
    }
    .logo {
        width: 40%;
    }
}
/* Tablet Landscape */
@media (min-width: 1024px) {
    .leftNavLink {
        font-size: 1.7em;
        padding-left: 15px;
    }
    .rightNavLink > img {
        font-size: 1.7em;
        width: 50px;
    }
    .row {
        flex-direction: row;
    }
    .textBlock > p {
        font-size: 26px;
    }
    .textBlock > p > span {
        font-size: 36px;
    }
    h1 {
        font-size: 40px;
    }
}
/* Desktop */
@media (min-width: 1440px) {
    .logo {
        width: 25%;
    }
    .leftNavLink {
        font-size: 3rem;
    }
    .rightNavLink > img {
        width: 80px;
    }
    h1 {
        padding-top: 5px;
        font-size: 36px;
    }
    .textBlock > p {
        font-size: 24px;
    }
    .textBlock > p > span {
        font-size: 45px;
        padding-bottom: 8px;
    }
    h2 {
        font-size: 56px;
    }
    .findMe > h2 {
        font-size: 100px;
    }
    .googleMaps {
        height: 500px;
    }
    .extras {
        overflow-y: hidden;
    }
    .extras > p {
        font-size: 30px;
        padding-left: 50px;
        padding-top: 50px;
    }
    .contactMe > h2 {
        font-size: 72px;
        padding-top: 40px;
    }
    .contactMe > p {
        font-size: 36px;
    }
}
/* Smaller Phone Screens */
@media (max-width: 420px) {
    .leftNavLink {
        font-size: 12px;
        padding-right: 3px;
    }
    .rightNavLink > img {
        width: 20px;
    }
}
